@import "tailwindcss";

@theme {
  --color-brand-slate: #8DA1B9;
  --color-brand-teal: #95ADB6;
  --color-brand-mauve: #CBB3BF;
  --color-brand-beige: #DBC7BE;
  --color-brand-pink: #EF959C;
  --color-brand-dark: #1a1a1a;

  --font-sans: Inter, sans-serif;
  --font-mono: Fira Code, monospace;
}

:root {
  --background: 15 23 42; 
  --foreground: 226 232 240;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-sans);
}
